/**
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2017 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
*/

/*  ############# Definition des styles de l'install et de l'update ############# */

body {
   background-color:#1B2F62;
   font-family: Verdana;
   color:#FFF;
}


#principal {
   width:760px;
   font-family: Verdana;
   font-size:12px;
   text-align: center;
   margin: auto;
   padding: 40px 40px 40px 40px;
}

a {
   color: #FEC95C;
   font-weight: bold;
}

#bloc {
   width:760px;
   margin:0 auto;
   text-align:left;
   position:relative;
   padding:10px;
   background:#3A5693;
}

#logo_bloc {
   position:absolute;
   top:-25px;
   padding:0;
   margin:0;
   width: 145px;
   height: 80px;
   background: url(../pics/login_logo_glpi.png)  no-repeat;
}




p {
   padding-left:20px;
   padding-right:20px;
}


.center {
   text-align:center;
}

.left {
   text-align:left;
}

.inline {
   display:inline;
}


table {
   text-align:center;
   border: 0;
   margin: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
}

th {
   font-size: 12px;
   font-weight: bold;
   color: #FFA500;
   vertical-align:bottom;
}

.tab_cadre {  }

.tab_bg_1 {  }

.tab_check {
   padding:10px;
   background-color: #FFF;
   color: #000;
}

.tab_check th{
   font-size: 14px;
   font-weight: bold;

}

.tab_check td {
   font-size:11px;
   border-bottom:1px solid #bbbbbb;
}


.red {
   color:red;
}
.migred {
   color: white;
   background-color: red;
}
.green {
   color:green;
}


h2 {
   text-align:center;
   color: #FEC95C
}

h3 {
   text-align:center;
}


input {
   border: 1px solid #ccc;
}

fieldset {
   margin:40px;
   padding: 20px;
   background: #FFF;
   border: none;
   font-size: 12px;
   font-weight:200;
   position: relative;
}

fieldset legend {
   color: #000;
   font-weight: bold;
   position: absolute;
   top: 5px;
}

.block {
   display: inline-block;
   width:300px;
   color: #000;
}

fieldset label {
   text-align: right;
   margin-right: 5px
}

.submit {
   text-align:center;
}

input.submit,
span.vsubmit, a.vsubmit {
   padding: 5px;
   cursor:pointer;
   height: auto;
   font: bold 12px Arial, Helvetica;
   color: #8f5a0a;
   background-color: #FEC95C;
   border: 0;
}

input.submit:hover,
a.vsubmit:hover {
   background-color: #fddb6f;
   -moz-box-shadow: 0px 1px 1px #999;
   -webkit-box-shadow: 0px 1px 1px #999;
   box-shadow: 0px 1px 1px #999;

}


#license {
   text-align: left;
   width: 520px;
   margin: 20px auto;
}


.radio {
   display: inline-block;
   cursor: pointer;
   line-height: 25px;
   font-weight: bold;
   margin-bottom: 5px;
}

.radio:hover .inner {
   -webkit-transform: scale(0.5);
   -ms-transform: scale(0.5);
   transform: scale(0.5);
   opacity: .5;
}

.radio input[type=radio] {
   width: 1px;
   height: 1px;
   opacity: 0;
}

.radio input:checked + .outer .inner {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   opacity: 1;
}

.radio input:checked + .outer { border: 3px solid #f08b3b; }

.radio input:focus + .outer .inner {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   opacity: 1;
   background-color: #FEC95C;
}

.radio .outer {
   width: 20px;
   height: 20px;
   display: block;
   float: left;
   border: 3px solid #1B2F62;
   border-radius: 50%;
   /*background-color: #fff;*/
}

.radio .inner {
   -webkit-transition: all 0.25s ease-in-out;
   transition: all 0.25s ease-in-out;
   width: 16px;
   height: 16px;
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   display: block;
   margin: 2px;
   border-radius: 50%;
   background-color: #FEC95C;
   opacity: 0;
}
